.text-lobster {
  font-family: 'Lobster', Arial, Helvetica, sans-serif;
}

.card-recommended {
  display: flex;
  width: 70%;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  padding: 16px;
  background-color: #80062b;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.card-recommended img {
  height: 75px;
  width: 75px;
  border-radius: 5px;
}

.card-recommended p {
  margin: 0;
}

.card-left {
  display: flex;
}

.card-right {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.card-right-bottom {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.btn-invite {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  color: white;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  background-color: #72a8be;
  outline: none;
  border: none;
  transition: ease-in-out 0.3s;
}

.btn-invite:hover {
  cursor: pointer;
  background-color: #f3005d;
}

.cursor-pointer {
  cursor: pointer;
}
